<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />


</head>

<body>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{/}">
                    eLibrary
                </a>
            </li>
            <li>
                <a th:href="@{/}">Listings</a>
            </li>
            <li>
                <a href="#">Delete Book</a>
            </li>
            <li>
                <a href="#">Update Book</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

            <form th:action="@{/addingbook}" method="post" role="form">
            <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input name="isbn" type="text" class="form-control input-sm" id="isbn">
            </div>
            <div class="form-group">
            <label for="title">Title:</label>
            <input name="title" type="text" class="form-control input-sm" id="title">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


 <!--Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#closeDash").click(function(e) {
        $("#wrapper").removeClass("toggled");
    });
</script>


</body>

</html>
